/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu

@import './partials/mixins';
@import './partials/typography';
@import './partials/common';
@import './partials/header';
@import './partials/pagination';
@import './partials/container_movies';
@import './partials/movie_card';
@import './partials/footer';
@import './partials/modal';
@import './partials/modal_team';
@import './partials/loader';
