<div class="" id="login-div">
  <h2>Login</h2>
  <input type="email" id="login-email" name="login-email" placeholder="Email" required /><br />
  <input
    type="password"
    id="login-password"
    name="login-password"
    placeholder="Password"
    required
  /><br />
  <button id="log-btn">Login</button><br />
  <button id="show-register-btn">Don't have an account? REGISTER</button>
</div>

<div id="register-div">
  <h2>Register</h2>
  <input
    type="email"
    id="register-email"
    name="register-email"
    placeholder="Email"
    required
  /><br />
  <input
    type="password"
    id="register-password"
    name="register-password"
    placeholder="Password"
    required
  /><br />
  <button id="register-btn">Register</button><br />
  <button id="show-login-btn">Already have an account? LOG IN</button>
</div>

<div id="result-box">
  <h3 id="result"></h3>
</div>
