<footer class="container-footer">
           <ul class="container-footer__list">
            <li class="footer-item footer-item--indent">&copy 2023 | All Rights Reserved | </li>
            <li class="footer-item"> Developed with <svg class="footer-item__icon"> <use href="images/favorite.svg#favorite"></use></svg> by <a class="footer-item__link"  target="_blank"
                rel="noopener noreferrer" href="https://michalmazurdev.github.io/team-project-filmoteka/">GoIT Students</a></li>
        </ul>
</footer>