<header class="headerHome">
  <div class="headerContainer">
    <div class="headerItem">
    <div class="headerLogo">
      <a class="logo" href="index.html">
      <img src='./images/logox2.png' width="24" hight="24" alt="logo" /></a>
      <span class="headerLogoText">Filmoteka</span>
    </div>
    <div class="headerMenu">
      <ul class="headerMenuList">
        <li >
          <a class="menu menuIsActive" href="./index.html">home</a>
        </li>
        <li>
          <a class="menu" href="./library.html">my library</a>
        </li>
      </ul>
    </div>
   </div>
   <!-- <div class="searchDiv" > -->
    <form  class="searchForm"id="searchForm">
      <input
      class="searchInput"
        type="text"
        name="search"
        autocomplete="off"
        placeholder="Movie search"
        autocomplete="off"
        required
      />
      <button type="submit" class="searchBtn">o</button>
    </form>
  </div>
  <!-- </div> -->
</header>
