<header class="header__home">
  <div class="header__container">
    <div class="header__item">
    <div class="header__logo">
      <a class="logo" href="index.html">
      <img src='./images/logox2.png' width="24" hight="24" alt="logo" /></a>
      <span class="header__logo-text">Filmoteka</span>
    </div>
    <div class="header__menu">
      <ul class="header__menu-list">
        <li >
          <a class="menu menu-is-active" href="./index.html">home</a>
        </li>
        <li>
          <a class="menu" href="./library.html">my library</a>
        </li>
      </ul>
    </div>
   </div>
   <!-- <div class="searchDiv" > -->
    <form  class="search__form" id="form-search">
      <input
      class="search__input"
        type="text"
        name="search"
        autocomplete="off"
        placeholder="Movie search"
        autocomplete="off"
        required
      />
      <button type="submit" class="search__btn">o</button>
    </form>
    <div class="no-result">Search result not successful. Enter the correct movie name and </div>
  </div>
  <!-- </div> -->
</header>
