<header class="header">
  <div class="header__container">
    <div class="header__flex">
      <img
        id="header_logo"
        class="header__logo"
        src="./images/film.png"
        srcset="./images/filmx2.png 2x"
        alt="logo"
      />
      <ul class="header__desktopmenu">
        <li>
          <a
            class="header__desktopmenu-anchor header__desktopmenu-anchor--active"
            href="index.html#heroheader"
            >Home</a
          >
        </li>
        <li>
          <a class="header__desktopmenu-anchor" href="#about">About us</a>
        </li>
        <li>
          <a class="header__desktopmenu-anchor" href="#btn_rdmore">How it's made?</a>
        </li>
        <li>
          <a class="header__desktopmenu-anchor" href="#products">Our products</a>
        </li>
        <li>
          <a class="header__desktopmenu-anchor" href="#contacts">Contact</a>
        </li>
      </ul>
      <div class="header__flexicon">
        <button
          class="header__btn-menu js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <img class="mobilemenu__icon" src="images/Header/hdr_burger.png" />
        </button>
        <button class="header__btn-buy" type="button">
          Buy now
          <img class="header__icon" src="images/Header/hdr_Vector.png" />
        </button>
      </div>
    </div>
  </div>
</header>
