<header class="header">
  <div class="header_container">
    <div class="header_logo">
      <img src='./images/logox2.png' width="24" hight="24" alt="logo" />
      <span class="header_logo_text">Filmoteka</span>
    </div>

    <div class="header_menu">
      <ul class="header_menu_list">
        <li>
          <a class="menu menu_is_active" href="#">HOME</a>
        </li>
        <li>
          <a class="menu" href="#">MY LIBRARY</a>
        </li>
      </ul>
    </div>
    <form class="search_form" id="search_form">
      <input
        type="text"
        name="search"
        autocomplete="off"
        placeholder="Movie search"
        autocomplete="off"
        required
      />
      <button type="submit" class="search-btn">lupa</button>
    </form>
    <div class="header_film_status">
      <button type="button" class="btn_film_status">watched</button
      ><button type="button" class="btn_film_status">queue</button>
    </div>
  </div>
</header>
