<header class="header">
  <div class="header__container">
    <a class="header__logo" href="/src/index.html">
      <svg class="header__icon" width="24" height="24">
        <use href="/src/images/icons.svg#icon-movie"></use>
      </svg>
      <p class="header__title">Filmoteka</p>
    </a>
    <ul class="header__list">
      <li>
        <div class="" id="login-div">
          <button class="login" id="log-btn">Log in</button><br />
          <input
            type="email"
            id="login-email"
            name="login-email"
            placeholder="Email"
            required
          /><br />
          <input
            type="password"
            id="login-password"
            name="login-password"
            placeholder="Password"
            required
          />
        </div>
      </li>
      <li>
        <div id="register-div">
          <button class="Register" id="register-btn">Register</button><br />
          <input
            type="email"
            id="register-email"
            name="register-email"
            placeholder="Email"
            required
          /><br />
          <input
            type="password"
            id="register-password"
            name="register-password"
            placeholder="Password"
            required
          />
        </div>
      </li>
      <!-- <li id="result-box">
        <h3 id="result"></h3>
      </li> -->
      <li class="header__item">
        <a class="header__link header__link--active" href="/src/index.html"> Home </a>
      </li>
      <li class="header__item">
        <a class="header__link" href="/src/library.html">My Library</a>
      </li>
    </ul>
  </div>
  <form class="form" id="form-search">
    <input
      class="form__input"
      type="text"
      name="search"
      autocomplete="off"
      placeholder="Movie search"
      autocomplete="off"
      required
    />
    <button class="form__btn" type="submit">
      <svg class="form__icon" width="16" height="16">
        <use href="/src/images/icons.svg#icon-search"></use>
      </svg>
    </button>
    <div class="form__result">Search result not successful. Enter the correct movie name.</div>
  </form>
</header>
