<div class="modal-team__backdrop modal-team__hidden">
  <div class="modal-team">
    <button type="'button" class="modal-team__close">
      <img width="40" height="14" width="14" src="./images/close-button.svg" />
    </button>
    <h2 class="modal-team__header">Zespół grupa nr: 5</h2>
    <div class="team-members">
      <div class="team-member">
        <img width="200" height="200" src="./images/demo.jpg" alt="" class="team-member__photo" />
        <h3 class="team-member__name">Imię Nazwisko</h3>
        <p class="team-member__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rem recusandae?
          Numquam magni libero nihil officiis!
        </p>
      </div>
      <div class="team-member">
        <img width="200" height="200" src="./images/demo.jpg" alt="" class="team-member__photo" />
        <h3 class="team-member__name">Imię Nazwisko</h3>
        <p class="team-member__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rem recusandae?
          Numquam magni libero nihil officiis!
        </p>
      </div>
      <div class="team-member">
        <img width="200" height="200" src="./images/demo.jpg" alt="" class="team-member__photo" />
        <h3 class="team-member__name">Imię Nazwisko</h3>
        <p class="team-member__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rem recusandae?
          Numquam magni libero nihil officiis!
        </p>
      </div>
      <div class="team-member">
        <img width="200" height="200" src="./images/demo.jpg" alt="" class="team-member__photo" />
        <h3 class="team-member__name">Imię Nazwisko</h3>
        <p class="team-member__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rem recusandae?
          Numquam magni libero nihil officiis!
        </p>
      </div>
      <div class="team-member">
        <img width="200" height="200" src="./images/demo.jpg" alt="" class="team-member__photo" />
        <h3 class="team-member__name">Imię Nazwisko</h3>
        <p class="team-member__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rem recusandae?
          Numquam magni libero nihil officiis!
        </p>
      </div>
      <div class="team-member">
        <img width="200" height="200" src="./images/demo.jpg" alt="" class="team-member__photo" />
        <h3 class="team-member__name">Imię Nazwisko</h3>
        <p class="team-member__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rem recusandae?
          Numquam magni libero nihil officiis!
        </p>
      </div>
      <div class="team-member">
        <img width="200" height="200" src="./images/demo.jpg" alt="" class="team-member__photo" />
        <h3 class="team-member__name">Imię Nazwisko</h3>
        <p class="team-member__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rem recusandae?
          Numquam magni libero nihil officiis!
        </p>
      </div>
      <div class="team-member">
        <img width="200" height="200" src="./images/demo.jpg" alt="" class="team-member__photo" />
        <h3 class="team-member__name">Imię Nazwisko</h3>
        <p class="team-member__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rem recusandae?
          Numquam magni libero nihil officiis!
        </p>
      </div>
    </div>
  </div>
</div>
