<div class="modal__backdrop modal__hidden">
  <div class="modal">
    <button type="'button" class="modal__close">
      <img height="14" width="14" src="./images/close-button.svg" />
    </button>
    <div class="modal__container">
      <div class="modal__poster-container">
        <a class="modal__trailer"
          ><img class="modal__poster" src="./images/rectangle.jpg" alt="Film poster"
        /></a>
      </div>
      <div class="modal__movie-info">
        <h2 class="modal__title">A FISTFUL OF LEAD</h2>
        <dl>
          <dt>Vote / Votes</dt>
          <dd>
            <span class="modal__rating">7.3</span> /
            <span class="modal__rating modal__rating--number-of-votes">1260</span>
          </dd>
          <br />
          <dt>Popularity</dt>
          <dd data-info="popularity">100.2</dd>
          <dt>Original Title</dt>
          <dd data-info="orgtitle">A FISTFUL OF LEAD</dd>
          <dt>Genre</dt>
          <dd data-info="genres">Western</dd>
        </dl>
        <h3 class="modal__descripton-heading">ABOUT</h3>
        <p class="modal__descripton">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
        <div class="modal__buttons-container">
          <button class="modal__button modal__button--watched">ADD TO WATCHED</button>
          <button class="modal__button modal__button--queue">ADD TO QUEUE</button>
        </div>
      </div>
    </div>
  </div>
</div>
