<div class="movie-card" id="1">
    <div class="movie-card__poster-container">
    <img class="movie-card__poster" id="poster_path"
    src="./images/rectangle.jpg"
    srcset="./images/rectangle.jpg 1x, ./images/rectangle.jpg 2x"
    alt=""
    />
    </div>
    <div class="movie-card__figcaption">
        <p class="movie-card__title" id="title">LITTLE WOMEN</p>
        <span class="movie-card__genre" id="genre_ids">Drama |</span>
        <span class="movie-card__release-date" id="release_date"> 2019</span>
        <!-- in JS need to add a script for changing visibility on Homepage: document.querySelector('.movie-card__rating').classList.add('is-hidden') -->
        <span class="movie-card__rating" id="vote_average">9.5</span>
    </div>
</div>