<section class="pagination is-hidden">
  <button id="previous" class="pagination__button--arrow">
    <img src="./images/icons-pagination/arrow-left.svg" />
  </button>
  <button id="first" class="pagination__button--hidden-on-mobile"></button>
  <div id="dot" class="pagination__button--hidden-on-mobile">...</div>
  <button id="minus2" class="pagination__button"></button>
  <button id="minus1" class="pagination__button"></button>
  <button id="current" class="pagination__button--active"></button>
  <button id="plus1" class="pagination__button"></button>
  <button id="plus2" class="pagination__button"></button>
  <div id="dot2" class="pagination__button--hidden-on-mobile">...</div>
  <button id="last" class="pagination__button--hidden-on-mobile"></button>
  <button id="next" class="pagination__button--arrow">
    <img src="./images/icons-pagination/arrow-right.svg" />
  </button>
</section>
