<section class="pagination">
  <button id="previousLibrary" class="pagination__button--arrow">
    <img src="./images/icons-pagination/arrow-left.svg" />
  </button>
  <button id="firstLibrary" class="pagination__button--hidden-on-mobile"></button>
  <div id="dotLibrary" class="pagination__button--hidden-on-mobile">...</div>
  <button id="minus2Library" class="pagination__button"></button>
  <button id="minus1Library" class="pagination__button"></button>
  <button id="currentLibrary" class="pagination__button--active"></button>
  <button id="plus1Library" class="pagination__button"></button>
  <button id="plus2Library" class="pagination__button"></button>
  <div id="dot2Library" class="pagination__button--hidden-on-mobile">...</div>
  <button id="lastLibrary" class="pagination__button--hidden-on-mobile"></button>
  <button id="nextLibrary" class="pagination__button--arrow">
    <img src="./images/icons-pagination/arrow-right.svg" />
  </button>
</section>
