* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  @include tablet {
    padding: 0px 32px;
  }
}
