.modal {
  width: 280px;
  max-height: 95vh;
  background-color: $defaultColor;
  margin: auto;
  position: relative;
  padding: 48px 20px 40px;
  overflow-y: auto;
  animation: fade-in 0.6s ease both;
  @include tablet {
    width: 704px;
    padding: 40px 72px 40px 36px;
  }
  @include desktop {
    width: 806px;
    padding: 40px 12px;
  }
  &__container {
    @include tablet {
      gap: 68px;
      display: flex;
    }
    @include desktop {
      gap: 16px;
      display: flex;
    }
  }
  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    background: linear-gradient(
      90deg,
      rgba(194, 194, 204, 0.6278886554621849) 0%,
      rgba(194, 194, 204, 0.6278886554621849) 0%
    );
    @include tablet {
      padding-top: 100px;
    }
    @include desktop {
      padding-top: 150px;
    }
  }
  &__hidden {
    display: none;
  }
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    padding: 0;
    background-color: transparent;
    height: 14px;
    font-size: 0;
    scale: 2;
    cursor: pointer;
    transition: transform 0.25s ease-out;
    &:hover {
      transform: scale(1.5);
    }
  }
  &__poster-container {
    width: 240px;
    height: 357px;
    @include tablet {
      width: 264px;
      height: 374px;
    }
    @include desktop {
      width: 375px;
      height: 478px;
    }
  }
  &__poster {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    @include tablet {
      width: inherit;
      height: 100%;
    }
    @include desktop {
      height: 100%;
    }
  }
  &__title {
    font-family: $defaultFontStyle;
    // font-style: normal;
    font-weight: 500;
    font-size: $mediumFontSize;
    line-height: $mediumFontSizeModal;
    color: $titleColor;
    margin: 20px 0px 20px;
    text-transform: uppercase;
    @include tablet {
      margin: 0px 0px 20px;
    }
    @include desktop {
      font-size: $headFontSize;
      line-height: $headLineHeight;
      margin: 0px 0px 20px;
    }
  }
  & dl {
    display: flex;
    flex-flow: row wrap;
  }
  & dt {
    font-family: $defaultFontStyle;
    font-style: normal;
    font-weight: 500;
    font-size: $smallFontSize;
    line-height: $defaultLineHeight;
    color: $propertyColor;
    width: 108px;
    &:not(:first-of-type) {
      margin-top: 8px;
    }
    @include tablet {
      width: 108px;
    }
    @include desktop {
      width: 152px;
    }
  }
  & dd {
    font-family: $defaultFontStyle;
    font-style: normal;
    font-weight: 500;
    font-size: $smallFontSize;
    line-height: $defaultLineHeight;
    margin: 0;
    margin-top: 8;
    width: 132px;
    &:first-of-type {
      display: flex;
      color: $propertyColor;
      gap: 2px;
      margin: 0;
    }
    @include tablet {
      width: 156px;
    }
    @include desktop {
      width: 239px;
    }
  }
  &__rating {
    background: $modalPrimaryColor;
    border-radius: 5px;
    width: 36px;
    height: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $smallFontSize;
    line-height: $smallLineHeight;
    color: $defaultColor;
    &--number-of-votes {
      color: $titleColor;
      background-color: #f7f7f7;
    }
  }
  &__descripton-heading {
    margin: 20px 0px 8px;
    font-family: $defaultFontStyle;
    font-style: normal;
    font-weight: 500;
    font-size: $smallFontSize;
    line-height: $defaultLineHeight;
  }
  &__descripton {
    font-family: $defaultFontStyle;
    font-style: normal;
    font-weight: 500;
    font-size: $smallFontSize;
    line-height: $defaultLineHeight;
  }
  &__buttons-container {
    margin-top: 20;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include tablet {
      gap: 15px;
    }
    @include desktop {
      gap: 15px;
      justify-content: flex-start;
    }
  }
  &__button {
    width: 110px;
    height: 44px;
    border-radius: 5px;
    font-size: $smallFontSize;
    font-weight: 500;
    line-height: $defaultLineHeight;
    background-color: $defaultColor;
    color: $titleColor;
    text-transform: uppercase;
    border: 1px solid $titleColor;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover,
    &:focus {
      border: none;
      background-color: $modalPrimaryColor;
      color: $defaultColor;
      transform: scale(1.03);
    }
    &--remove {
      background-color: #ff6b01;
      color: #fff;
      border: 1px solid #ff6b01;
    }
    /*&--watched {
      background-color: #ff6b01;
      color: #fff;
    }
    &--queue {
      background-color: #fff;
      color: #000;
      border: 1px solid #000;
    } */
    @include tablet {
      width: 125px;
    }
    @include desktop {
      width: 136px;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
