.movie-card {
display: block;
cursor: pointer;
width: 280px;
@include tablet {
    width: 336px;
}
@include desktop {
    width: 395px;
}
&__poster {
    display: block;
    width: 100%;
    border-radius: 5px;
}
&__figcaption {
    margin: 0;
    padding-top: 10px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    @include tablet {
        padding-top: 8px;
    }
    @include desktop {
        padding-top: 12px;
    }
}
&__title {
    color: #000000;
    margin: 0;
    @include desktop {
        font-size: 20px;
        line-height: 1.2; 
    }
}
&__genre {
    color: #FF6B08;  
    @include desktop {
        font-size: 20px;
        line-height: 1.2; 
    }
}
&__release-date {
    color: #FF6B08; 
    @include desktop {
        font-size: 20px;
        line-height: 1.2; 
    }  
}
&__rating {
    background-color: #FF6B08;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17; 
    text-align: center;
    padding: 1px 9px 1px 10px;
    margin-left: 8px;
    @include desktop {
        padding: 3px 11px 3px 12px; 
    }
}
&__rating.is-hidden {
    display: none;
}
}