$defaultFontStyle: 'Roboto', sans-serif;
$smallFontSize: 0.75rem;
$defaultFontSize: 0.875rem;
$mediumFontSize: 1.25rem;
$largeFontSize: 1.375rem;
$headFontSize: 1.875rem;
$smallLineHeight: 0.875rem;
$defaultLineHeight: 1rem;
$mediumLineHeight: 1.25rem;
$mediumFontSizeModal: 1.4375rem;
$largeLineHeight: 1.5rem;
$headLineHeight: 2.1875rem;
$defaultColor: #ffffff;
$titleColor: #000000;
$descritiopnColor: #ff6b08;
$propertyColor: #8c8c8c;
$textFooterColor: #545454;
$bgFoterColor:  #F7F7F7;
$accentColor: rgba(255, 0, 27, 1);
$transparentColor: hsla(0, 0%, 0%, 0);
$modalPrimaryColor: #ff6b01;
